<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smaug.cloud.provider.mappers.queue.QueuingEntityMapper">
  <resultMap id="BaseResultMap" type="smaug.cloud.data.entity.queue.QueuingEntity">
    <id column="SerialID" jdbcType="BIGINT" property="serialid" />
    <result column="SerialCode" jdbcType="VARCHAR" property="serialcode" />
    <result column="QType" jdbcType="TINYINT" property="qtype" />
    <result column="QueueID" jdbcType="INTEGER" property="queueid" />
    <result column="ShopQueueID" jdbcType="VARCHAR" property="shopqueueid" />
    <result column="ShopID" jdbcType="INTEGER" property="shopid" />
    <result column="Type" jdbcType="TINYINT" property="type" />
    <result column="devType" jdbcType="TINYINT" property="devtype" />
    <result column="ResetTime" jdbcType="VARCHAR" property="resettime" />
    <result column="DeviceID" jdbcType="INTEGER" property="deviceid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="Mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="People" jdbcType="INTEGER" property="people" />
    <result column="Number" jdbcType="INTEGER" property="number" />
    <result column="QueuingTime" jdbcType="TIMESTAMP" property="queuingtime" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="EntrustDate" jdbcType="TIMESTAMP" property="entrustdate" />
    <result column="State" jdbcType="TINYINT" property="state" />
    <result column="Del" jdbcType="TINYINT" property="del" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="Reset" jdbcType="TINYINT" property="reset" />
    <result column="Acked" jdbcType="TINYINT" property="acked" />
    <result column="LastTime" jdbcType="TIMESTAMP" property="lasttime" />
    <result column="EventNo" jdbcType="INTEGER" property="eventno" />
    <result column="ExecTime" jdbcType="TIMESTAMP" property="exectime" />
    <result column="ManageShopID" jdbcType="INTEGER" property="manageshopid" />
    <result column="KeepQueuing" jdbcType="TINYINT" property="keepqueuing" />
    <result column="AllTotal" jdbcType="SMALLINT" property="alltotal" />
    <result column="EstimateTime" jdbcType="INTEGER" property="estimatetime" />
    <result column="WaitPeople" jdbcType="SMALLINT" property="waitpeople" />
    <result column="AllocTime" jdbcType="TIMESTAMP" property="alloctime" />
    <result column="QRScan" jdbcType="TINYINT" property="qrscan" />
    <result column="SMSView" jdbcType="TINYINT" property="smsview" />
    <result column="WeixinView" jdbcType="TINYINT" property="weixinview" />
    <result column="APPView" jdbcType="TINYINT" property="appview" />
    <result column="CreditUserGot" jdbcType="TINYINT" property="creditusergot" />
    <result column="WxNotice" jdbcType="TINYINT" property="wxnotice" />
    <result column="DiscountID" jdbcType="INTEGER" property="discountid" />
    <result column="OffNotice" jdbcType="TINYINT" property="offnotice" />
    <result column="ThirdUrl" jdbcType="VARCHAR" property="thirdurl" />
    <result column="LastAccess" jdbcType="TINYINT" property="lastaccess" />
    <result column="EstQueueID" jdbcType="INTEGER" property="estqueueid" />
    <result column="EstEnTime" jdbcType="SMALLINT" property="estentime" />
    <result column="MName" jdbcType="VARCHAR" property="mname" />
    <result column="Times" jdbcType="TINYINT" property="times" />
    <result column="AuthID" jdbcType="INTEGER" property="authid" />
    <result column="AuthOrderID" jdbcType="VARCHAR" property="authorderid" />
  </resultMap>
  <sql id="Base_Column_List">
    SerialID, SerialCode, QType, QueueID, ShopQueueID, ShopID, Type, devType, ResetTime, 
    DeviceID, UserID, openid, Mobile, People, Number, QueuingTime, CreateDate, EntrustDate, 
    State, Del, Remark, Reset, Acked, LastTime, EventNo, ExecTime, ManageShopID, KeepQueuing, 
    AllTotal, EstimateTime, WaitPeople, AllocTime, QRScan, SMSView, WeixinView, APPView, 
    CreditUserGot, WxNotice, DiscountID, OffNotice, ThirdUrl, LastAccess, EstQueueID, 
    EstEnTime, MName, Times, AuthID, AuthOrderID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    *
    from QueuingTable
    where SerialID = #{serialId}
  </select>
</mapper>