<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="smaug.cloud.provider.mappers.shop.ShopEntityMapper" >
  <resultMap id="BaseResultMap" type="smaug.cloud.data.entity.shop.ShopEntity" >
    <id column="ShopID" property="shopid" jdbcType="INTEGER" />
    <result column="StyleCooking" property="stylecooking" jdbcType="VARCHAR" />
    <result column="EncryptedShopID" property="encryptedshopid" jdbcType="VARCHAR" />
    <result column="countryId" property="countryid" jdbcType="SMALLINT" />
    <result column="AreaID" property="areaid" jdbcType="INTEGER" />
    <result column="City" property="city" jdbcType="INTEGER" />
    <result column="Cooperation" property="cooperation" jdbcType="TINYINT" />
    <result column="NamePinyin" property="namepinyin" jdbcType="VARCHAR" />
    <result column="CheckWay" property="checkway" jdbcType="TINYINT" />
    <result column="ShopName" property="shopname" jdbcType="VARCHAR" />
    <result column="Type" property="type" jdbcType="TINYINT" />
    <result column="Industry" property="industry" jdbcType="TINYINT" />
    <result column="ShopType" property="shoptype" jdbcType="INTEGER" />
    <result column="EntityStore" property="entitystore" jdbcType="TINYINT" />
    <result column="Tel" property="tel" jdbcType="VARCHAR" />
    <result column="BookPhone" property="bookphone" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Logo" property="logo" jdbcType="VARCHAR" />
    <result column="TLogo" property="tlogo" jdbcType="VARCHAR" />
    <result column="MLogo" property="mlogo" jdbcType="VARCHAR" />
    <result column="BgImage" property="bgimage" jdbcType="VARCHAR" />
    <result column="TBgImage" property="tbgimage" jdbcType="VARCHAR" />
    <result column="MBgImage" property="mbgimage" jdbcType="VARCHAR" />
    <result column="Integrals" property="integrals" jdbcType="INTEGER" />
    <result column="Sent" property="sent" jdbcType="BIGINT" />
    <result column="app_pay" property="appPay" jdbcType="SMALLINT" />
    <result column="EnterInRate" property="enterinrate" jdbcType="INTEGER" />
    <result column="VoucherValue" property="vouchervalue" jdbcType="INTEGER" />
    <result column="IntegralRatio" property="integralratio" jdbcType="REAL" />
    <result column="ConsumptionRatio" property="consumptionratio" jdbcType="INTEGER" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="Services" property="services" jdbcType="VARCHAR" />
    <result column="c_services" property="cServices" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="TINYINT" />
    <result column="Longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="Latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="LngGPS" property="lnggps" jdbcType="DOUBLE" />
    <result column="LatGPS" property="latgps" jdbcType="DOUBLE" />
    <result column="ManageShopID" property="manageshopid" jdbcType="INTEGER" />
    <result column="ShoppingmallShopID" property="shoppingmallshopid" jdbcType="INTEGER" />
    <result column="Traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="ShopHours" property="shophours" jdbcType="VARCHAR" />
    <result column="RegNum" property="regnum" jdbcType="VARCHAR" />
    <result column="RegName" property="regname" jdbcType="VARCHAR" />
    <result column="LegalPerson" property="legalperson" jdbcType="VARCHAR" />
    <result column="RegImage" property="regimage" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="VoucherLimitation" property="voucherlimitation" jdbcType="INTEGER" />
    <result column="OrderPrintNum" property="orderprintnum" jdbcType="INTEGER" />
    <result column="PayPrintNum" property="payprintnum" jdbcType="INTEGER" />
    <result column="EnPrint" property="enprint" jdbcType="TINYINT" />
    <result column="TableCount" property="tablecount" jdbcType="INTEGER" />
    <result column="GoodUpdateTime" property="goodupdatetime" jdbcType="TIMESTAMP" />
    <result column="WaitList" property="waitlist" jdbcType="TINYINT" />
    <result column="OrderDistanceLimit" property="orderdistancelimit" jdbcType="INTEGER" />
    <result column="QueueVersion" property="queueversion" jdbcType="TIMESTAMP" />
    <result column="Index" property="index" jdbcType="INTEGER" />
    <result column="DefineShopID" property="defineshopid" jdbcType="VARCHAR" />
    <result column="CityAreaID" property="cityareaid" jdbcType="VARCHAR" />
    <result column="BCID" property="bcid" jdbcType="VARCHAR" />
    <result column="QueuingTotal" property="queuingtotal" jdbcType="INTEGER" />
    <result column="ProvinceID" property="provinceid" jdbcType="INTEGER" />
    <result column="mmShopID" property="mmshopid" jdbcType="INTEGER" />
    <result column="KuaiCanMode" property="kuaicanmode" jdbcType="TINYINT" />
    <result column="DisFlag" property="disflag" jdbcType="TINYINT" />
    <result column="TiyanDian" property="tiyandian" jdbcType="TINYINT" />
    <result column="DianpingID" property="dianpingid" jdbcType="INTEGER" />
    <result column="OnLine" property="online" jdbcType="TINYINT" />
    <result column="forever" property="forever" jdbcType="TINYINT" />
    <result column="MemFunc" property="memfunc" jdbcType="TINYINT" />
    <result column="linQu" property="linqu" jdbcType="TINYINT" />
    <result column="attenActive" property="attenactive" jdbcType="TINYINT" />
    <result column="Img_Do" property="imgDo" jdbcType="TINYINT" />
    <result column="offInvalid" property="offinvalid" jdbcType="TINYINT" />
    <result column="clientManager" property="clientmanager" jdbcType="VARCHAR" />
    <result column="BookVersion" property="bookversion" jdbcType="TIMESTAMP" />
    <result column="shareFlag" property="shareflag" jdbcType="TINYINT" />
    <result column="maxWaitLimit" property="maxwaitlimit" jdbcType="SMALLINT" />
    <result column="LastTime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="location" property="location" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ShopID, StyleCooking, EncryptedShopID, countryId, AreaID, City, Cooperation, NamePinyin, 
    CheckWay, ShopName, Type, Industry, ShopType, EntityStore, Tel, BookPhone, Address, 
    Logo, TLogo, MLogo, BgImage, TBgImage, MBgImage, Integrals, Sent, app_pay, EnterInRate, 
    VoucherValue, IntegralRatio, ConsumptionRatio, Email, Description, Services, c_services, 
    State, Longitude, Latitude, LngGPS, LatGPS, ManageShopID, ShoppingmallShopID, Traffic, 
    ShopHours, RegNum, RegName, LegalPerson, RegImage, CreateDate, VoucherLimitation, 
    OrderPrintNum, PayPrintNum, EnPrint, TableCount, GoodUpdateTime, WaitList, OrderDistanceLimit, 
    QueueVersion, Index, DefineShopID, CityAreaID, BCID, QueuingTotal, ProvinceID, mmShopID, 
    KuaiCanMode, DisFlag, TiyanDian, DianpingID, OnLine, forever, MemFunc, linQu, attenActive, 
    Img_Do, offInvalid, clientManager, BookVersion, shareFlag, maxWaitLimit, LastTime, 
    location
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from ShopTable
    where ShopID = #{shopId}
  </select>

</mapper>